p{
    text-transform: capitalize;
    text-align: justify;
}

img{
    transition: 2s all;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.9)
}

img:hover{
    opacity: 0.8;
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.8);
}


.my_clearfix::after{
    content: "";
    clear: both;
    display: table;
}


.line-clamp4{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

/* EDUCATION */
#education i{
font-size: 1rem;
}

.education {
    background:  #f9fbfd;
}
.education-horizontal-timeline {
    padding: 80px 0;
}

/*.education-horizontal-timeline*/
.education-horizontal-timeline .col-sm-4 {padding:0 2px;}

.single-horizontal-timeline .experience-time h3{text-transform: capitalize;}
.single-horizontal-timeline .experience-time h3 span{text-transform:lowercase;}
.single-horizontal-timeline .timeline-content h5 {margin: 15px 0;}
.single-horizontal-timeline p {color: #999fb3;max-width: 335px;}

/*.timeline-horizontal-border*/
.timeline-horizontal-border {
    display:  flex;
    align-items: center;
    padding: 26px 0 30px;
}
.timeline-horizontal-border i {
    font-size:  10px;
    color: #d92cf9;
    margin-right:  5px;
}
span.single-timeline-horizontal {
    display:  inline-block;
    background: #b2c1ce;
    height:  1px;
    width: 380px;
}
span.single-timeline-horizontal.spacial-horizontal-line {width: 88px;}
/*.timeline-horizontal-border*/

/*.education-horizontal-timeline*/

/* ABOUT */
#about_id{
    background-color: rgb(134, 27, 228);
    color:white!important;
    height: 35rem;
    padding:2rem;
    background-image: url('../../assets/image/cup-of-coffee-1280537_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#about_id p{
    background-color: black;
    opacity: 0.8;
    padding:2rem 1rem;
    line-height: 1.3;
}

/* BLOG */
#blog_id{
    
}

/* CONTACT */
#contact_id{
    background-color: rgb(134, 27, 228);
    height: 100rem;
}