

<!--education start -->
<section id="education" class="education">
    <div class="section-heading text-center">
        <h2>education</h2>
    </div>
    <div class="container">
        <div class="education-horizontal-timeline">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-horizontal-timeline">
                        <div class="experience-time">
                            <h2>2006 - 2010</h2>
                            <h3>High Scholl <span>of </span> science</h3>
                        </div><!--/.experience-time-->
                        <div class="timeline-horizontal-border">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="single-timeline-horizontal"></span>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <h4 class="title">
                                    Sıddık Demir Anatolion High School
                                </h4>
                                <h5>Kırşehir, TURKEY</h5>
                                <p class="description">
                                </p>
                            </div><!--/.timeline-content-->
                        </div><!--/.timeline-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-horizontal-timeline">
                        <div class="experience-time">
                            <h2>2010 - 2014</h2>
                            <h3>bachelor <span>of </span> civil engineering</h3>
                        </div><!--/.experience-time-->
                        <div class="timeline-horizontal-border">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="single-timeline-horizontal"></span>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <h4 class="title">
                                    Atatürk University
                                </h4>
                                <h5>Erzurum, Turkey</h5>
                                <p class="description">
                                </p>
                            </div><!--/.timeline-content-->
                        </div><!--/.timeline-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-horizontal-timeline">
                        <div class="experience-time">
                            <h2>2020 - 2023</h2>
                            <h3>Master <span>of </span>Civil Engineering</h3>
                        </div><!--/.experience-time-->
                        <div class="timeline-horizontal-border">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="single-timeline-horizontal"></span>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <h4 class="title">
                                    Eskişehir Technic University
                                </h4>
                                <h5>Eskişehir, Turkey</h5>
                                <p class="description">
                                </p>
                            </div><!--/.timeline-content-->
                        </div><!--/.timeline-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!--/.education-->
<!--education end -->