<!--experience start -->
<section id="experience" class="experience">
    <div class="section-heading text-center">
        <h2>experience</h2>
    </div>
    <div class="container">
        <div class="experience-content">
                <div class="main-timeline">
                    <ul>
                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="experience-time text-right">
                                            <h2>08/2023 - 11/2023</h2>
                                            <h3>Software Test Engineer </h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-offset-1 col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title">
                                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                    dece software
                                                </h4>
                                                <h5>Ankara, Turkey</h5>
                                                <p class="description">
                                                    Jira, Conflunce, Github, Selenium, Jmeter, SQL
                                                </p>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div>
                            </div><!--/.single-timeline-box-->
                        </li>

                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-5 experience-time-responsive">
                                        <div class="experience-time">
                                            <h2>
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                04/2023 - 06/2023
                                            </h2>
                                            <h3>.NET Bootcamp Student</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content text-right">
                                                <h4 class="title">
                                                    Simpra/Patika.dev
                                                </h4>
                                                <h5>İstanbul, Turkey</h5>
                                                <p class="description">
                                                    .NET, ASP.NET Core, C# , Entity Framework, Visual Studio, OOP, 
                                                    <br>
                                                    Web Services API, SQL
 
                                                </p>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                    <div class="col-md-offset-1 col-md-5 experience-time-main">
                                        <div class="experience-time">
                                            <h2>
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                09/2022 - 11/2022
                                            </h2>
                                            <h3>.NET Bootcamp Student</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                </div>
                            </div><!--/.single-timeline-box-->
                        </li>

                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="experience-time text-right">
                                            <h2>08/2023 - 11/2023</h2>
                                            <h3>Java Bootcamp Student </h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-offset-1 col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title">
                                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                    etstur/coderspace
                                                </h4>
                                                <h5>Ankara, Turkey</h5>
                                                <p class="description">
                                                    Java SE, Spring Boot, Rest Api, Hibernate, JPA, Swagger, Postman, H2
                                                    DB, Mysql, Solid                                                </p>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div>
                            </div><!--/.single-timeline-box-->
                        </li>

                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-5 experience-time-responsive">
                                        <div class="experience-time">
                                            <h2>
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                04/2023 - 06/2023
                                            </h2>
                                            <h3>Civil Engineer</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content text-right">
                                                <h4 class="title">
                                                   Osman Acar Construction
                                                </h4>
                                                <h5>Ankara, Turkey</h5>
                                                <p class="description">
                                            
                                                </p>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                    <div class="col-md-offset-1 col-md-5 experience-time-main">
                                        <div class="experience-time">
                                            <h2>
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                09/2022 - 11/2022
                                            </h2>
                                            <h3>.NET Bootcamp Student</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                </div>
                            </div><!--/.single-timeline-box-->
                        </li>

                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="experience-time text-right">
                                            <h2>06/2016 - 06/2021</h2>
                                            <h3>Civil Engineer</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-offset-1 col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title">
                                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                    Technic System Construction
                                                </h4>
                                                <h5>Kırşehir, Turkey</h5>
                                                <p class="description">
                                                </p>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div>
                            </div><!--/.single-timeline-box-->
                        </li>
                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-5 experience-time-responsive">
                                        <div class="experience-time">
                                            <h2>
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                11/2014 - 11/2015
                                            </h2>
                                            <h3>Reserve Officer Civil Engineer</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content text-right">
                                                <h4 class="title">
                                                    TSK
                                                </h4>
                                                <h5>Hakkari, Turkey</h5>
                                                <p class="description">
                                                </p>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                    <div class="col-md-offset-1 col-md-5 experience-time-main">
                                        <div class="experience-time">
                                            <h2>
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                11/2014 - 11/2015
                                            </h2>
                                            <h3>Civil Engineer </h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                </div>
                            </div><!--/.single-timeline-box-->
                        </li>

                 
                    </ul>
                </div><!--.main-timeline-->
            </div><!--.experience-content-->
    </div>

</section><!--/.experience-->
<!--experience end -->