<!--about start -->
<section id="about" class="about">
    <div class="section-heading text-center">
        <h2>about me</h2>
    </div>
    <div class="container">
        <div class="about-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="single-about-txt">
                        <h3>
                            I graduated from Atatürk University Civil Engineering Department in 2014 as a high honor
                            student. I completed my master's degree with thesis in Geotechnical science at Eskişehir
                            Technical University in 2023. I completed my military service as a Civil Engineer at Hakkari
                            Provincial Gendarmerie Command. 6 years in the construction industry, Civil Control
                            Engineer, Field engineer, etc. I have worked in various positions. Afterwards, then I decided to
                            change careers and stepped into the software industry. In order to be successful in this
                            sector, I participated in the Information Technologies Certificate Program given by METU
                            Computer Engineering and this program is a compressed form of computer engineering. I
                            have successfully completed this certificate program. I received the ISTQB Foundation Level,
                            the most important certificate in the field of test engineering with international validity. In
                            addition to this trainings, I try to get training, practice and meet the requirements of the
                            software industry on different platforms (Udemy, Btk Akademi, Linkedin Learning, Hackerank,
                            Patika.dev). I want to improve myself by working in a good company with my education and
                            skills in the informatics and software sector and thus add value to the company I work for and
                            myself. In my future career, I always aim to develop software that offers the easiest, highest
                            quality, most effective and simplest solution by using up-to-date technologies. I am currently
                            looking for a job.
                        </h3>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspi unde omnis iste natus error sit voluptatem accusantium doloremque lauda ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam vo luptatem quia voluptas sit aspernatur aut odit aut fugit,
                        </p>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>phone</h3>
                                    <p>539-812-4873</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>email</h3>
                                    <p>volkan.ozturkis</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>website</h3>
                                    <p>www.brownsine.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-3">
                    <div class="single-about-img">
                        <img src="../../../assets/image/profile picture.jpeg" alt="profile_image">
                        <div class="about-list-icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i  class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li><!-- / li -->
                                <li>
                                    <a href="#">
                                        <i  class="fa fa-dribbble" aria-hidden="true"></i>
                                    </a>
                                    
                                </li><!-- / li -->
                                <li>
                                    <a href="#">
                                        <i  class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    
                                </li><!-- / li -->
                                <li>
                                    <a href="#">
                                        <i  class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li><!-- / li -->
                                <li>
                                    <a href="#">
                                        <i  class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li><!-- / li -->
                                
                                
                            </ul><!-- / ul -->
                        </div><!-- /.about-list-icon -->

                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!--/.about-->
<!--about end -->