<!--Navbar -->

	<!-- top-area Start -->
      <!-- Start Navigation -->
        <!-- <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background"> -->

            <!-- <div class="container"> -->

                <!-- Start Header Navigation -->
                <!-- <div class="navbar-header"> -->
                <!-- </div> -->
                <!--/.navbar-header-->
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <!-- <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class=" smooth-menu active"></li>
                        <li class=" smooth-menu"><a href="#education">education</a></li>
                        <li class="smooth-menu"><a href="#skills">skills</a></li>
                        <li class="smooth-menu"><a href="#experience">experience</a></li>
                        <li class="smooth-menu"><a href="#profiles">profile</a></li>
                        <li class="smooth-menu"><a href="#portfolio">portfolio</a></li>
                        <li class="smooth-menu"><a href="#clients">clients</a></li>
                        <li class="smooth-menu"><a href="#contact">contact</a></li>
                    </ul><!--/.nav -->
                <!-- </div> --> 
                <!-- /.navbar-collapse -->
            <!-- </div> -->
            <!--/.container-->
        <!-- </nav> -->
        <!--/nav-->
        <!-- End Navigation -->

<!--end Navbar-->



<!-- Navbar -->
<nav
  id="navbar_id"
  class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark bg-body-tertiary44"
>
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          [src]="navBar.logo.logoPicture"
          height="30"
          alt="Logo"
          loading="lazy"
          class="rounded-1"
        />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"></li>

        <li *ngFor="let temp of navBar.navbar" class="nav-item">
          <a class="nav-link" href="{{ temp.link }}">
            {{ temp.name | titlecase }}
          </a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->



    <!-- Optional: Place to the bottom of scripts -->
    <!-- <script>
      const myModal = new bootstrap.Modal(
        document.getElementById("modalId"),
        options,
      );
    </script> -->
  </div>
  <!-- end conainer -->
</nav>
<!--end Navbar -->
