
<!--portfolio start -->
<section id="my_project" class="portfolio">
  <div class="portfolio-details">
    <div class="section-heading text-center">
      <h2>My Project</h2>
    </div>
    <div class="container">
      <div class="portfolio-content">
        <div class="isotope">
          <div class="row">

            <div class="col-sm-4">
              <div class="item">
                <img src="../../../assets/image/4-bt-destek.jpg" alt="portfolio image"/>
                <div class="isotope-overlay">
                  <a href="https://github.com/cevolkan-ozturk/Inventory_Management_System">
                    Inventory Management System
                  </a>
                </div><!-- /.isotope-overlay -->
              </div><!-- /.item -->
              <div class="item">
                <img src="../../../assets/image/pexels-thorsten-technoman-338504.jpg" alt="portfolio image"/>
                <div class="isotope-overlay">
                  <a href="https://github.com/cevolkan-ozturk/Etstur-Final-Project">
                    Hotel Reservation System
                  </a>
                </div><!-- /.isotope-overlay -->
              </div><!-- /.item -->
            </div><!-- /.col -->

            <div class="col-sm-4">
              <div class="item">
                <img src="../../../assets/image/istockphoto-1449490038-2048x2048.jpg" alt="portfolio image"/>
                <div class="isotope-overlay">
                  <a href="https://github.com/cevolkan-ozturk/ETicaretAPI">
                    E-Commerce API
                  </a>
                </div><!-- /.isotope-overlay -->
              </div><!-- /.item -->
            </div><!-- /.col -->

            <div class="col-sm-4">
              <div class="item">
                <img src="../../../assets/image/software-testing.png" alt="portfolio image"/>
                <div class="isotope-overlay">
                  <a href="https://github.com/cevolkan-ozturk/HepsiBurada_AutomationTest">
                    HepsiBurada Automation Test
                  </a>
                </div><!-- /.isotope-overlay -->
              </div><!-- /.item -->
              <div class="item">
                <img src="../../../assets/image/computer-2982270_1280.jpg" alt="portfolio image"/>
                <div class="isotope-overlay">
                  <a href="https://github.com/cevolkan-ozturk/Angular-one-page-hyper">
                    OnePage Web Design
                  </a>
                </div><!-- /.isotope-overlay -->
              </div><!-- /.item -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!--/.isotope-->
      </div><!--/.gallery-content-->
    </div><!--/.container-->
  </div><!--/.portfolio-details-->

</section><!--/.portfolio-->
<!--portfolio end -->
